In [1]:
import ojsim
sim = ojsim.OJSimulator()
X, Y = sim.formulized_train

In [2]:
import numpy as np
import pandas as pd

In [3]:
# construct the huge dim input dataset
def transform(X):
    prices = X[:,0,-30:,:]
    price_diff = (X[:,0,1:,:] - X[:,0,:-1,:])[:,-30:,:]
    volu = np.log(X[:,1,:,:] + 1)[:,-30:,:]
    volu_diff = (np.log(X[:,1,1:,:] + 1) - np.log(X[:,1,:-1,:] + 1))[:,-30:,:]
    X_train = np.concatenate([prices, price_diff, volu, volu_diff], axis=1)
    return X_train

X_train = transform(X)
print(X_train.shape)
N, _, _ = X_train.shape

(17709, 120, 10)

In [4]:
y = Y - X[:,0,-1,:]

In [27]:
from sklearn.feature_selection import mutual_info_regression, SelectKBest
# SELECT with mutual information
def select_feature_mi(X_train, y):
    X_train_fs_mi = []
    support = []
    for i in range(10):
        fs = SelectKBest(score_func=mutual_info_regression, k='all')
        fs.fit(X_train, y[:,i])
#         X_train_fs_mi.append(fs.transform(X_train[:,:,i]))
        scores = fs.scores_
        support.append(np.where(scores > scores.max()*0.6)[0])
#         support.append(fs.get_support(True))
    return X_train_fs_mi, support

X_train_fs_mi, support_fs_mi = select_feature_mi(X_train.reshape(N,-1), y)

In [28]:
for i in range(10):
    print(len(support_fs_mi[i]))

91
91
224
81
164
156
71
143
141
211

In [29]:
support_fs_mi

[array([  0,   9,  10,  15,  19,  20,  29,  30,  39,  40,  49,  50,  59,
         60,  67,  69,  70,  75,  79,  80,  89,  90,  99, 100, 109, 110,
        119, 120, 125, 129, 130, 139, 140, 149, 150, 155, 159, 160, 165,
        169, 170, 173, 179, 180, 185, 189, 190, 199, 200, 209, 210, 219,
        220, 229, 230, 235, 239, 240, 249, 250, 259, 260, 265, 269, 270,
        275, 279, 280, 285, 289, 290, 295, 299, 600, 620, 630, 680, 730,
        740, 750, 760, 780, 790, 820, 830, 840, 850, 860, 870, 880, 890],
       dtype=int64),
 array([  1,   2,   5,  12,  13,  15,  22,  32,  42,  45,  52,  53,  55,
         61,  62,  65,  72,  75,  81,  82,  85,  92,  93,  95, 101, 102,
        112, 122, 131, 132, 142, 152, 162, 171, 172, 181, 182, 183, 192,
        202, 203, 212, 213, 221, 231, 232, 233, 241, 243, 251, 252, 261,
        262, 271, 272, 281, 282, 285, 291, 292, 293, 295, 601, 621, 631,
        641, 651, 661, 671, 681, 691, 701, 711, 721, 731, 741, 751, 761,
        771, 781, 791, 801, 811, 821, 831, 841, 851, 861, 871, 881, 891],
       dtype=int64),
 array([  0,   2,   4,   5,   7,   9,  10,  11,  12,  14,  15,  17,  19,
         20,  22,  24,  25,  27,  28,  29,  30,  32,  34,  35,  37,  39,
         40,  41,  42,  44,  45,  47,  49,  50,  52,  54,  55,  57,  59,
         60,  62,  64,  65,  67,  69,  70,  71,  72,  74,  75,  77,  79,
         80,  81,  82,  84,  85,  87,  89,  90,  92,  94,  95,  97,  99,
        100, 102, 104, 105, 107, 108, 109, 110, 112, 114, 115, 117, 119,
        120, 122, 124, 125, 127, 129, 130, 132, 134, 135, 137, 139, 140,
        142, 144, 145, 147, 149, 150, 152, 154, 155, 157, 159, 160, 162,
        164, 165, 167, 169, 170, 171, 172, 174, 175, 177, 178, 179, 180,
        182, 184, 185, 187, 189, 190, 192, 194, 195, 197, 199, 200, 202,
        204, 205, 207, 209, 210, 212, 214, 215, 217, 219, 220, 221, 222,
        224, 225, 227, 229, 230, 232, 234, 235, 237, 239, 240, 242, 244,
        245, 247, 249, 250, 252, 254, 255, 257, 259, 260, 261, 262, 264,
        265, 267, 269, 270, 271, 272, 274, 275, 277, 279, 280, 281, 282,
        284, 285, 287, 288, 289, 290, 291, 292, 294, 295, 297, 299, 602,
        612, 622, 632, 642, 652, 662, 672, 682, 692, 702, 712, 722, 732,
        742, 752, 762, 772, 782, 792, 802, 812, 822, 832, 842, 852, 862,
        872, 882, 892], dtype=int64),
 array([  3,  13,  23,  39,  43,  49,  50,  52,  59,  67,  69,  77,  80,
         90,  92,  97, 100, 102, 105, 110, 112, 115, 120, 122, 130, 132,
        140, 142, 147, 150, 157, 162, 167, 170, 172, 177, 180, 189, 190,
        192, 199, 200, 202, 210, 213, 220, 223, 225, 230, 233, 239, 243,
        250, 252, 253, 260, 262, 273, 282, 283, 292, 293, 603, 653, 663,
        673, 683, 723, 743, 753, 773, 783, 793, 803, 813, 833, 843, 853,
        873, 883, 893], dtype=int64),
 array([  2,   3,   7,   8,   9,  13,  14,  15,  17,  19,  23,  24,  25,
         27,  29,  32,  33,  34,  37,  43,  44,  45,  47,  49,  52,  53,
         54,  56,  57,  58,  59,  63,  64,  65,  66,  67,  69,  73,  75,
         76,  77,  79,  83,  84,  85,  86,  87,  89,  93,  94,  95,  96,
         97,  99, 102, 103, 104, 105, 106, 109, 112, 113, 114, 116, 117,
        119, 122, 123, 124, 129, 131, 133, 136, 137, 142, 143, 144, 145,
        146, 147, 149, 153, 154, 155, 157, 158, 159, 163, 164, 165, 166,
        167, 168, 169, 172, 173, 174, 175, 176, 177, 178, 179, 182, 183,
        184, 187, 193, 194, 196, 197, 199, 202, 204, 206, 207, 209, 212,
        213, 214, 217, 219, 223, 224, 225, 227, 229, 232, 233, 234, 236,
        237, 239, 242, 243, 244, 249, 254, 259, 264, 267, 269, 273, 274,
        276, 279, 283, 284, 289, 294, 299, 554, 646, 734, 774, 784, 794,
        824, 834, 844, 854, 864, 874, 884, 894], dtype=int64),
 array([  1,   5,   6,   7,  11,  15,  16,  19,  21,  22,  25,  26,  31,
         32,  35,  39,  41,  45,  49,  51,  52,  55,  57,  59,  61,  65,
         66,  67,  69,  71,  72,  75,  76,  78,  79,  81,  82,  85,  86,
         89,  91,  92,  95,  96,  99, 105, 106, 109, 111, 115, 116, 119,
        120, 121, 125, 126, 129, 135, 139, 145, 146, 149, 155, 156, 159,
        160, 162, 165, 166, 169, 171, 175, 176, 179, 181, 182, 185, 186,
        189, 191, 195, 199, 201, 205, 207, 209, 211, 212, 215, 216, 217,
        219, 221, 225, 226, 229, 231, 235, 236, 237, 239, 241, 245, 247,
        249, 251, 255, 256, 257, 259, 261, 265, 266, 267, 269, 275, 276,
        277, 279, 285, 286, 287, 289, 295, 297, 299, 605, 615, 625, 635,
        645, 655, 665, 675, 685, 695, 705, 715, 725, 735, 745, 755, 765,
        775, 785, 795, 805, 815, 825, 835, 845, 855, 865, 875, 885, 895],
       dtype=int64),
 array([  6,  16,  26,  31,  36,  41,  46,  51,  56,  60,  66,  76,  86,
         91,  96, 101, 106, 116, 126, 136, 141, 146, 151, 156, 161, 166,
        171, 176, 181, 186, 191, 196, 201, 206, 211, 216, 217, 221, 226,
        231, 236, 241, 246, 251, 256, 261, 266, 271, 276, 281, 286, 291,
        296, 656, 666, 686, 716, 756, 766, 776, 786, 806, 816, 826, 836,
        846, 856, 866, 876, 886, 896], dtype=int64),
 array([   0,    4,    6,    7,   10,   11,   15,   17,   20,   21,   25,
          27,   35,   37,   40,   41,   47,   49,   50,   51,   59,   60,
          61,   65,   67,   69,   70,   75,   77,   79,   80,   85,   87,
          89,   90,   91,   95,   97,   99,  100,  105,  107,  109,  110,
         115,  117,  119,  120,  125,  127,  130,  131,  132,  135,  139,
         140,  141,  145,  147,  149,  151,  155,  157,  159,  160,  165,
         167,  170,  175,  177,  180,  181,  185,  187,  189,  190,  191,
         192,  195,  199,  200,  202,  205,  207,  209,  210,  211,  212,
         217,  220,  221,  222,  225,  226,  227,  230,  231,  235,  236,
         237,  240,  241,  245,  247,  250,  251,  252,  255,  257,  260,
         262,  265,  270,  271,  272,  275,  277,  279,  280,  281,  282,
         285,  287,  289,  291,  292,  295,  297,  299,  657,  697,  743,
         757,  777,  833,  847,  857,  867,  877,  887,  893,  897, 1169],
       dtype=int64),
 array([  2,   5,   9,  10,  12,  15,  16,  19,  20,  24,  25,  26,  29,
         30,  31,  32,  34,  35,  39,  40,  45,  47,  49,  53,  54,  55,
         59,  60,  64,  65,  66,  67,  69,  70,  74,  75,  76,  77,  79,
         80,  82,  84,  85,  86,  89,  90,  91,  95,  99, 100, 101, 105,
        109, 110, 111, 115, 116, 119, 120, 121, 125, 126, 129, 131, 135,
        136, 139, 141, 142, 146, 149, 151, 152, 156, 159, 162, 169, 171,
        172, 175, 176, 179, 181, 182, 185, 186, 189, 191, 192, 195, 196,
        199, 202, 205, 206, 209, 212, 214, 215, 216, 219, 221, 222, 224,
        225, 226, 229, 231, 233, 235, 236, 239, 241, 245, 249, 251, 255,
        256, 259, 261, 265, 267, 269, 271, 272, 275, 279, 281, 282, 285,
        289, 291, 292, 295, 296, 297, 299, 767, 826, 840, 850], dtype=int64),
 array([  0,   2,   3,   5,   7,   8,   9,  10,  12,  13,  15,  17,  19,
         20,  22,  25,  26,  27,  29,  30,  32,  33,  35,  37,  39,  40,
         42,  43,  45,  47,  49,  50,  52,  53,  55,  56,  57,  58,  59,
         60,  62,  63,  65,  66,  67,  69,  70,  72,  73,  75,  77,  79,
         80,  82,  83,  85,  86,  87,  89,  90,  92,  93,  95,  96,  97,
         99, 100, 102, 103, 105, 106, 107, 109, 110, 112, 113, 115, 116,
        117, 119, 120, 122, 123, 124, 125, 126, 127, 129, 130, 132, 133,
        135, 136, 137, 139, 140, 142, 143, 145, 146, 147, 149, 150, 152,
        153, 155, 156, 157, 159, 160, 162, 163, 165, 167, 169, 170, 172,
        173, 175, 177, 179, 180, 182, 183, 184, 185, 186, 187, 189, 190,
        192, 193, 195, 196, 197, 199, 200, 202, 203, 205, 206, 207, 209,
        210, 212, 213, 215, 216, 217, 219, 220, 222, 223, 225, 226, 227,
        229, 230, 232, 233, 235, 236, 237, 239, 240, 242, 243, 245, 246,
        247, 249, 250, 252, 253, 255, 256, 257, 259, 260, 262, 263, 265,
        266, 267, 269, 270, 272, 273, 275, 276, 277, 278, 279, 280, 282,
        283, 285, 286, 287, 288, 289, 290, 292, 293, 295, 297, 299, 616,
        746, 795, 866], dtype=int64)]

In [16]:
X_train_mi = []
for i in range(10):
    X_train_mi.append(X_train.reshape(N,-1)[:,support_fs_mi[i]])

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
model = []
for i in range(10):
    model.append(LinearRegression().fit(X_train_mi[i], y[:,1]))

In [19]:
for i in range(10):
    print(model[i].score(X_train_mi[i], y[:,i]))

-0.06641847368299247
0.04564438725398867
-0.028311121785702165
-0.07941915076674166
-0.10097990038088556
-0.12185504401360037
-0.10025770742181583
-0.16632727832835714
-0.27149989241041395
-0.24592610265318426

In [25]:
def get_r_hat(A, B):
        X = np.stack([A.values, B.values], axis=0)
        X_test = transform(X[np.newaxis,:])
        X_test_list = []
        for i in range(10):
            X_test_list.append(X_test.reshape(1,-1)[:,support_fs_mi[i]])
        pred = [model[i].predict(X_test_list[i]) for i in range(10)]

        return pred

In [26]:
sim.submit(get_r_hat)

Total time used: 9.189s
Pairwise correlation:
	asset 0 = 0.01583
	asset 1 = 0.01372
	asset 2 = -0.01378
	asset 3 = 0.01667
	asset 4 = -0.02284
	asset 5 = 0.01818
	asset 6 = 0.02600
	asset 7 = -0.00319
	asset 8 = -0.07827
	asset 9 = -0.04128
	mean correlation = -0.00690
Overall correlation: -0.00140
===============================
Fail to outperform Ziwei's method, whose pairwise average
and overall correlations are (0.02840, 0.01536)
===============================

(9.189293146133423,
 0    0.015832
 1    0.013716
 2   -0.013783
 3    0.016675
 4   -0.022840
 5    0.018182
 6    0.025995
 7   -0.003187
 8   -0.078273
 9   -0.041284
 dtype: float64,
 -0.001398935071040119)